:root {
  /* Fonts */
  --font-main: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-accent: "Playfair Display", serif;

  /* Fonts Weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;

  /* Colors */
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  --dark-green: #00744e;
  --dark-green-hover: #00663e;
  --dark-green-caption: #083230;
  --white: #fff;
  --black: #000;
  --placeholder-text: #808080;
  --border: #d1d5db;
  --light-text: #424242;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* 1rem = 10px */
  font-family: var(--font-main);
  font-weight: var(--weight-regular);
  margin: 0;
}

body,
#root {
  min-height: 100svh;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
